*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    background-color: #ff6902;
}

.container{
    width: 1050px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-menu{
    height: 50px;
    display: flex;
    color: white;
}

button{
    background: none;
    border: none;
}

.logo{
    width: 130px;
    height: 100%;
    background-size: cover;
}

.menu-buttons{
    color: white;
}

header ul{
    list-style: none;
}

.product-ad{
    max-width: 335px;
    max-height: 530px;
}

.product.image{
    max-width: 335px;
    max-height: 485px;
}

.first-image{
    z-index: 1;
}

.second-image{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.first-image:hover {
  display: none;
}

.discount{
    position: absolute;
    top: 430px;
    left: 0;
    color: white;
    height: 20px;
    width: 40px;
    background-color: #ff0001;
    z-index: 2;
}

.sustainability{
    position: absolute;
    top: 430px;
    left: 45px;
    color: white;
    height: 20px;
    width: 80px;
    background-color: #038102;
    z-index: 2;
}

.saved{
    position: absolute;
    top: 10px;
    right: 0;
    height: 35px;
    width: 35px;
    background-color: white;
    z-index: 2;
}